spring:
  application:
    name: auth-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/saas_platforms}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:812837}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

logging:
  level:
    org.springframework.web: DEBUG
    com.company.auth: DEBUG

app:
  jwtSecret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
  jwtExpirationMs: 86400000
